<app-header color="primary" title="Botones"></app-header>

<ion-content>
  <ion-button expand="full" color="secondary" size="small">small</ion-button>
  <ion-button expand="full" color="danger" size="default">default</ion-button>
  <ion-button expand="full" color="success" size="large">large</ion-button>
  <ion-button expand="full" color="facebook" size="large">Facebook</ion-button>
  <ion-button fill="outline" expand="full" color="youtube" size="large">Youtube</ion-button>
  <ion-button fill="solid" expand="full" color="youtube" size="large">Youtube</ion-button>
  <ion-button strong="true" shape="round" fill="solid" expand="full" color="youtube" size="large">Youtube</ion-button>

  <ion-button (click)="saludar()"strong="true" shape="round" fill="solid" expand="full" color="youtube" size="large">
    <ion-icon color="primary" name="aperture"></ion-icon>
    Youtube 2
  </ion-button>
 
</ion-content>
