.center-text {
    text-align: center;
 }
 .slide-imagen{
     width: 100px;
     height: 100px;
     text-align: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;

 }
 .slide_ion-card{
     height: 400px;
     width: 300px;
 }

 .slide-full{
    height: 75% !important; 
}