<ion-header>
  <ion-toolbar>
    <ion-title>datetime</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha de nacimiento</ion-label>
    <ion-datetime
      placeholder="Elija la fecha"
      display-format="D-MM-YYYY"
      [ngModel]="fechaActual.toISOString()"
      (ionChange)="cambioFecha($event)">

    </ion-datetime>
  </ion-item>
</ion-content>
